body {
  background-color: white; 
  font-family: proxima-nova, FontAwesome, "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {text-decoration: none; color: #a63400;}
a:active {text-decoration: none; color: black;}

#content-wrap {
  margin: auto;
  width: 90%;
}

#content {
  /* background-color: #ffffd6; */
  padding: 6px;
  margin-top: 25px;
  /* border-style: solid; */
  border-width: 1px; 
  overflow: hidden;
}

#contact-home {
  float: right;
  width: 25%;
  padding-bottom: 40px;
}

#menu {
  text-align: center;
}

.menu-wrap {
  float: left;
  padding-left:216px;
  width: 700px;
  padding-bottom: 25px;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline;
  padding: 12px;
  font-size: 1.2em;
}

.logo-wrap {
  width: 138px;
  float: left;
  margin-right: 78px;
  margin-bottom: -32px;
}

.accredidations-wrap {
  float: left; 
}

.accredidations {
  padding-top: 33px;
}

#tica-logo {
  padding-left: 6px;  
}

#bbb-logo {
  padding-top: 40px;
  padding-left: 32px;
}
#slides {
  width: 700px;
}


.clearBoth {
  clear: both;
}

p {
  font-size: 14px;
}

.box-container {
  float: left;
  padding-left:216px;
  width: 700px;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

h1.box {
  font-size: 30px;
  font-family: Georgia, serif;
  font-style: bold;
  text-align: center;
  line-height: 1.75em;
  padding-bottom: 15px;
}

.left-box {
  width: 350px;
  float: left;
  line-height: 22px;
  padding-top: 10px;
  padding-right: 75px;
}

.right-box {
  float: left;
  line-height: 22px;
  padding-top: 10px;
}

.italics {
  font-style: oblique;
}

#content-services, #content-about, #content-photos, #content-contact {
  display: none;
}

#slides .slidesjs-container {
  margin-bottom: 10px;
}  

#footer {
  background-color: #7a7a7a;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11;

}

.footer-content {
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  font-size: 12px;
  color: #ffffec;
  margin: auto;
}

p.footer-left {
  float: left;
  padding-left: 14px;
}

p.footer-right {
  float: right;
  padding-right: 14px;
}

.footer-content ul {
  margin: 0;
  padding: 0;
}

.footer-content ul li {
  display: inline;
  padding: 143px;
  padding-top: 0;
}
