body {
  background-color: #ffffec;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#content-wrap {
  margin: auto;
  width: 90%;
}

#content {
  /* background-color: #ffffd6; */
  padding: 6px;
  margin-top: 80px;
  border-style: solid;
  border-width: 1px; 
}

.logo-wrap {
  width: 138px;
  float: left;
  margin-right: 100px;
}

#slides {
  width: 700px;
  height: 393px;
}

.logo {
  
}

.clearBoth {
  clear: both;
}

p {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 0.795em;
}

p.box {
}

h1.box {
  font-size: 1.35em;
  font-style: bold;
  text-align: center;
  line-height: 1.75em;
  padding-bottom: 5px;
}

.left-box {
  float: left;
  width: 350px;
  text-align: center;
  margin: 150px 0px 50px 150px;
  padding: 10px;
}

.right-box {
  float: right;
  width: 350px;
  text-align: center;
  margin: 150px 150px 50px 0px;
  padding: 10px;
}

.italics {
  font-style: oblique;
}

#contact-home {
  float: right;
  padding; 8px;
  position: absolute;
  right: 100px;
  top: 8px;
}

.slide-box {
}
  
#footer {
  background-color: #7a7a7a;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-content {
  text-align: center;
  padding: 3px 3px;
  line-height: 200%;
  width: 75%;
  color: #ffffec;
  margin: auto;
}

p.footer-left {
  float: left;
  padding-left: 14px;
}

p.footer-right {
  float: right;
  padding-right: 14px;
}
