body {
  background-color: white; 
  font-family: FontAwesome, "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#content-wrap {
  margin: auto;
  width: 90%;
}

#content {
  /* background-color: #ffffd6; */
  padding: 6px;
  margin-top: 25px;
  /* border-style: solid; */
  border-width: 1px; 
  overflow: hidden;
}

#contact-home {
  float: right;
  width: 25%;
  padding-bottom: 40px;
}

#menu {
  margin: auto;
  width: 44%;
  padding-bottom: 25px;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu ul li {
  display: inline;
  padding: 12px;
  font-size: 1.2em;
}

#menu a:link {text-decoration: none; color: black;}
#menu a:visited {text-decoration: none; color: black;}
#menu a:hover {text-decoration: none; color: #a63400;}
#menu a:active {text-decoration: none; color: black;}

.logo-wrap {
  width: 138px;
  float: left;
  margin-right: 78px;
}

#slides {
  width: 700px;
}


.clearBoth {
  clear: both;
}

p {
  font-size: 0.795em;
}

.box-container {
  margin: auto;
  margin-bottom: 80px;
  width: 66%;
  overflow: auto;
  padding-top: 30px;
}

h1.box {
  font-size: 1.35em;
  font-style: bold;
  text-align: center;
  line-height: 1.75em;
  padding-bottom: 5px;
}

h1.box a:link {text-decoration: none; color: black;}
h1.box a:visited {text-decoration: none; color: black;}
h1.box a:hover {text-decoration: none; color: #a63400;}
h1.box a:active {text-decoration: none; color: black;}

.left-box {
  float: left;
  width: 350px;
  text-align: center;
  padding: 10px;
}

.right-box {
  float: left;
  width: 350px;
  text-align: center;
  padding: 10px;
}

.italics {
  font-style: oblique;
}

#content-services, #content-about, #content-photos, #content-contact {
  display: none;
}

  
#footer {
  background-color: #7a7a7a;
  height: 40px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 11;
}

.footer-content {
  text-align: center;
  padding: 3px 3px;
  line-height: 200%;
  width: 75%;
  color: #ffffec;
  margin: auto;
}

p.footer-left {
  float: left;
  padding-left: 14px;
}

p.footer-right {
  float: right;
  padding-right: 14px;
}

